<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<style>
 
    .wrap {
        margin: auto;
        width: 300px;
    }

    .img {
        margin-top: 20px;
    }

    .input-group-prepend {
        margin-top: 30px;
        width: 300px;
    }

    .btn {
        margin-top: 10px;
        width: 280px;
    }
</style>

<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/plugin/datepicker/bootstrap-datepicker.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="resources/js/plugin/datepicker/bootstrap-datepicker.js"></script>
    <script src="resources/js/plugin/datepicker/bootstrap-datepicker.ko.min.js"></script>

    <div class="wrap">
        <div class="img">
            <img src="{{ url_for('static', filename='logo.png') }}" / width="300" , height="300">
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text" id="">우리 아이 이름</span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text" id="">우리 아이 태어난날</span>
            <input type="text" id="datePicker" class="form-control" value="">
        </div>
        <div class="btn">
            <button type="button" class="btn btn-outline-success">Success</button>
        </div>
    </div>

    <script>
        $('#datePicker').datepicker({
            format: "yyyy-mm-dd",
            startDate: '-10d',
            language: "ko"

        })

    </script>

</body>

</html>