<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 
<!-- jQuery UI CSS파일  -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
<!-- jQuery 기본 js파일 -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
<!-- jQuery UI 라이브러리 js파일 -->
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>  
 
 
<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> -->
 
</head>
<body>
 
<h1>JQuery 달력</h1>
<h2>Date Picker</h2>
 
<p>선택일 : <input type="text" id="date"></p>
 
<p>textbox를 클릭하면 <String>캘린더</String> 표시</p>
 
연도:<p id="year"></p>
월:<p id="month"></p>
일:<p id="day"></p>
요일:<p id="mydate"></p>
 
 
<script type="text/javascript">
$(function () {
    $("#date").datepicker({
        dateFormat:"yy/mm/dd",
        dayNamesMin:["일","월","화","수","목","금","토"],
        monthNames:["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
        onSelect:function(d){
            alert(d+" 선택되었습니다");
            
            var arr=d.split("/");
            var year=arr[0];
            var month=arr[1];
            var day=arr[2];
            
            $("#year").text(year);
            $("#month").text(month);
            $("#day").text(day);
            
            //요일 가져오기
            //데이터를 먼저 가져오고 (숫자로 넘어옴)
            var date=new Date($("#date").datepicker({dateFormat:"yy/mm/dd"}).val());
            //일요일 0~
            alert("date:"+date.getDay());
            
            week=new Array("일","월","화","수","목","금","토");
            $("#mydate").text(week[date.getDay()]);
        }
    });
    
});
</script>
 
</body>
</html>